<div text-center align-content-center justify-content-center>
    <div style="display: flex; justify-content: center; margin-top: 10px;" >
        <img src="{{test.imagePath}}" 
        height="250px"
        width="350px"
        alt="image-loading-problem"  
        >
    </div>
    <div class="m-3" >
        <h1 style="text-transform: uppercase;"> {{test.name   }}  </h1>
        <p style="font-size: larger; margin: 15px;"> 
            {{test.description}}
            Lor em ipsum dolor sit, amet consectet
            ur adipisicing elit. Sequi corrupti perferendis
            , facere cumque quia id eveniet repudiandae possim   
            us pariatur corporis numquam eius adipisci porro animi 
            architecto labore, exercitationem, ducimu
            s consequuntur.</p>
            <button class=" start float-end mt-5 border-0" (click)="onStart()" > start the test</button>
    </div>
    
</div>

