
<div class="container col-12"
style="margin: 200px 0 0 50px;">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <h1>this is about us  </h1>
                <h3>the importances of trying this tests</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
                    elit. Iure hic veritatis excepturi quasi nihil? Prae
                    sentium officia corporis placeat labore corrupti magn
                    i suscipit id impedit molestiae alias necessitatibus,
                    soluta, asperiores dignissimos!</p>
                
            </div>
        </div>
</div>

