
<div class="container col-12"
style="margin: 200px 0 0 50px;">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <h2>Welcome to our Psycology Test</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam voluptate dolores dicta itaque!
                    Perspiciatis omnis
                    amet reprehenderit iusto in deserunt assumenda voluptatum recusandae, quod, ea fuga aspernatur 
                    voluptatibus, error facilis.</p>
                <a class="rounded-pill  started" routerLink="/tests"> Get Started</a>
            </div>
        </div>
</div>


